{% extends 'base.html' %}
{% block header %}

{% endblock%}

{%block content %}
<h1>Auction</h1>

<div class="row">
    {%for item in allItemInfo%}
    <div class="col-4">
        <a href="{{item['url']}}">
            <img src="{{ url_for('static', filename=item['item_image_url']) }}">
        </a>
        <h4>{{item['item_description']}}</h4>
       <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p>RRP: {{item['item_current_price']}}</p>
    </div>
    {%endfor%}
</div>
</section>
{%endblock%}