

{% extends 'base.html' %}
{% block header %}
<title>Jurassic World Series</title>
{% endblock%}

{% block content %}
<script src="../../static/js/productpage.js"></script>
<script>
  function showImage(imageUrl) {
    var largeImage = document.getElementById("large-image");
    largeImage.src = imageUrl;
  }
</script>
<script>
function slideProducts(direction) {
  const container = document.querySelector('.products-list');
  const scrollDistance = 400;
  
  if (direction === 'left') {
    container.scroll({
      left: container.scrollLeft - scrollDistance,
      behavior: 'smooth',
      block: 'nearest'
    });
  } else if (direction === 'right') {
    container.scroll({
      left: container.scrollLeft + scrollDistance,
      behavior: 'smooth',
      block: 'nearest'
    });
  }
}
</script>

<body>
  <div class = "product-main">
    <div class = "product-container">
      <div id = "p-left-container" class = "p-left-container">
        <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/1.webp') }}" 
        onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/1.jpg')" alt="Image 1">

        <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/1.webp') }}" 
        onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/1.jpg')" alt="Image 2">
        
          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/2.webp') }}"
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/2.jpg')"alt="Image 3">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/3.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/3.jpg')"alt="Image 4">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/4.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/4.jpg')"alt="Image 5">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/5.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/5.jpg')"alt="Image 6">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/6.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/6.jpg')"alt="Image 7">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/7.webp') }}"
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/7.jpg')" alt="Image 8">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/8.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/8.jpg')"alt="Image 9">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/9.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/9.jpg')"alt="Image 10">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/10.webp') }}" 
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/10.jpg')"alt="Image 11">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/11.webp') }}"
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/11.jpg')" alt="Image 12">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/12.webp') }}"
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/12.jpg')" alt="Image 13">

          <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/13.webp') }}"
          onclick="showImage('../../static/img/POPtrade/WHAT_I_USED/Jurassic/images/jpg/13.jpg')" alt="Image 14">

      </div>
      <div class = "p-right-container">
        <div class = "product-name">
          <h1>Jurassic World Series</h1>
        </div>


        <div class = "p-like-fav">
          <button class = "like-button"><i id="heart" class="fa fa-heart" onclick="toggleHeartColor()"> </i> </button>
          <button class = "fav-button"><i id="star" class="fa fa-star" onclick="toggleStarColor()"> </i> </button>
        </div>


        <div class = "p-price">
          <p>SGD $ 13.95</p>
        </div>

        <div class = "p-quantity">
          <h1>Quantity:</h1> <p>OUT OF STOCK</p>
        </div>
        <div class = "p-description">
          <h1>Description</h1>
          <p>Rawr! @dimooworld is back with another adorable collaboration.</p>

          <p>Introducing the newest 𝗗𝗶𝗺𝗼𝗼 𝗝𝘂𝗿𝗮𝘀𝘀𝗶𝗰 𝗪𝗼𝗿𝗹𝗱 𝗦𝗲𝗿𝗶𝗲𝘀! Where Dimoo shows you how he's having fun with loads of adventures when recreating the iconic scenes from the movie~</p>
          <h2>Terms and Conditions</h2>
          <p>1) POP MART Singapore will not be liable for any defects on the product or packaging box.</p>
          <p>2) No refund or exchange will be entertained except in the case of broken or missing parts. 
            Available in single blind box or a case of 12. 
            Twelve different designs with the possibility of a secrets (chases) in some of the sets by random.</p>
        </div>
        <div class = "p-user-contact">
          <h1>Contact Seller</h1>
          <p>POP MART Singapore</p>
          <p>User1: 12345678</p>
          <p>User2: 12345678</p>
        </div>
      </div>
      
      <div class = "p-center-container">
        <img id="large-image" src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/1.webp') }}">
      </div>
    </div>
      <div class = "p-suggest-container"><h2>You May Also Like</h2>
        <ul class="products-list">
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/1.webp') }}" ></img>
            <p>Product 1</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/2.webp') }}" ></img>
            <p>Product 2</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/3.webp') }}" ></img>
            <p>Product 3</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/4.webp') }}" ></img>
            <p>Product 4</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/5.webp') }}" ></img>
            <p>Product 5</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/6.webp') }}" ></img>
            <p>Product 6</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/7.webp') }}" ></img>
            <p>Product 7</p></a>
          </li>
          <li class="s-product"><a href = ""><img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/8.webp') }}" ></img>
            <p>Product 8</p></a>
          </li>
          <!-- add more products here -->
        </ul>
      <div class = "arrow-button">
      <button class="left-arrow" onclick="slideProducts('left')"></button>
      <button class="right-arrow" onclick="slideProducts('right')"></button>
      </div>
  </div>
    <div class = "product-footer"></div>
  </div>
</body>



{% endblock%}





