

{% extends 'base.html' %}
{% block header %}
<title>Jurassic World Series</title>
{% endblock%}

{% block content %}
<div class="categories">
    <div class="container">
        <h1 class = "collector-h1">
            Jurassic World Series
        </h1>

        <h2 class = "collector-h2">
            Description:
        </h2>

        <div class = "collector-desc"> 
            <p>
                Rawr! @dimooworld is back with another adorable collaboration.
                Introducing the newest 𝗗𝗶𝗺𝗼𝗼 𝗝𝘂𝗿𝗮𝘀𝘀𝗶𝗰 𝗪𝗼𝗿𝗹𝗱 𝗦𝗲𝗿𝗶𝗲𝘀! Where Dimoo shows you how he's having fun with loads of adventures when recreating the iconic scenes from the movie~
            </p>
        </div>


        <div class="c-small-container">
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/1.webp') }}"alt="Image 1">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/1.webp') }}" alt="Image 2">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/2.webp') }}"alt="Image 3">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/3.webp') }}" alt="Image 4">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/4.webp') }}" alt="Image 5">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/5.webp') }}" alt="Image 6">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/6.webp') }}" alt="Image 7">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/7.webp') }}" alt="Image 8">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/8.webp') }}" alt="Image 9">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/9.webp') }}" alt="Image 10">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/10.webp') }}" alt="Image 11">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/11.webp') }}" alt="Image 12">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/12.webp') }}" alt="Image 13">
            </div>
            <div class="c-image-wrapper">
              <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/13.webp') }}" alt="Image 14">
            </div>
          </div>

          <div class = "c-large-container">
            <div class = "c-image-wrapper-main">
                <img src="{{ url_for('static', filename='img/POPtrade/WHAT_I_USED/Jurassic/images/13.webp') }}" alt="Image 14">
            </div>    
          </div>

          




{% endblock%}





